# **What is an Operator?**

In Python programming, Operators in general are used to perform operations on values and variables. These are standard symbols used for logical and arithmetic operations. In this article, we will look into different types of Python operators. An operator in programming is a symbol or a keyword that denotes a specific operation to be performed on data. Operators act as building blocks for creating expressions and enable the manipulation, comparison, and combination of values in code. They define the actions that can be performed on operands—such as variables, constants, or other expressions—and dictate how these operands interact with each other. Operators are used to perform operations such as arithmetic calculations, logical comparisons, and data manipulation. They help in defining the logic and control the flow of a program.


**OPERATORS**: These are the special symbols. Eg- + , * , /, etc.


**OPERAND**: It is the value on which the operator is applied.


# **Types of Operators**

**Arithmetic Operators**: Perform mathematical operations like addition, subtraction, multiplication, and division.

**Comparison Operators**: Compare two values and return a boolean result (true or false) based on the comparison.

**Logical Operators**: Combine or invert boolean values, allowing for complex logical expressions.

**Assignment Operators**: Assign values to variables and may also perform an operation on the variable before assignment.

**Bitwise Operators**: Operate on the binary representations of integers, performing bit-level operations.

**Membership Operators**: Test for membership within a sequence (like a list or string).

**Identity Operators**: Determine if two variables reference the same object in memory.

# Arithmetic Operators

+(Addition): Adds two values (e.g., 5 + 3 results in 8).

-(Subtraction): Subtracts the second value from the first (e.g., 5 - 3 results in 2).

*(Multiplication): Multiplies two values (e.g., 5 * 3 results in 15).

/ (Division): Divides the first value by the second, returning a float (e.g., 5 / 2 results in 2.5).

// (Floor Division): Divides the first value by the second, returning an integer (e.g., 5 // 2 results in 2).

% (Modulus): Returns the remainder of the division (e.g., 5 % 2 results in 1).

(Exponentiation): Raises the first value to the power of the second (e.g., 5 ** 2 results in 25).

In [1]:
a = 5
b = 3

result1 = a + b
print("Addition:", result1)

result2 = a - b
print("Subtraction:", result2)

result3 = a * b
print("Multiplication:", result3)

result4 = a / b
print("Division:", result4)

result5 = a // b
print("Floor Division:", result5)

result6 = a % b
print("Modulus:", result6)

result7 = a ** b
print("Exponentiation:", result7)

c = -5
result8 = c + b
print("Addition with negative number:", result8)

d = 4.5
result9 = d * b
print("Multiplication with floats:", result9)

result10 = (a + b) * 2
print("Mixed operations:", result10)

Addition: 8
Subtraction: 2
Multiplication: 15
Division: 1.6666666666666667
Floor Division: 1
Modulus: 2
Exponentiation: 125
Addition with negative number: -2
Multiplication with floats: 13.5
Mixed operations: 16

# Assignment Operators


= (Assignment): Assigns a value to a variable (e.g., x = 5).

+= (Add and assign): Adds a value to a variable and assigns the result (e.g., x

+= 3 is equivalent to x = x + 3).

-= (Subtract and assign): Subtracts a value from a variable and assigns the result (e.g., x -= 3 is equivalent to x = x - 3).

*= (Multiply and assign): Multiplies a variable by a value and assigns the result (e.g., x *= 3 is equivalent to x = x * 3).

/= (Divide and assign): Divides a variable by a value and assigns the result (e.g., x /= 3 is equivalent to x = x / 3).

%= (Modulus and assign): Applies the modulus operation and assigns the result (e.g., x %= 3 is equivalent to x = x % 3).

**= (Exponentiation and assign): Raises a variable to the power of a value and assigns the result (e.g., x **= 2 is equivalent to x = x ** 2).

In [2]:
x = 5
print("x:", x)

x += 3
print("x += 3:", x)

x -= 2
print("x -= 2:", x)

x *= 4
print("x *= 4:", x)

x /= 6
print("x /= 6:", x)

x %= 3
print("x %= 3:", x)

x **= 2
print("x **= 2:", x)

x //= 1
print("x //= 1:", x)

x = 10
print("x:", x)

x -= 5
print("x -= 5:", x)

x *= 3
print("x *= 3:", x)

x: 5
x += 3: 8
x -= 2: 6
x *= 4: 24
x /= 6: 4.0
x %= 3: 1.0
x **= 2: 1.0
x //= 1: 1.0
x: 10
x -= 5: 5
x *= 3: 15

# Comparison Operator

== (Equal to): Checks if two values are equal (e.g., 5 == 3 results in False).

!= (Not equal to): Checks if two values are not equal (e.g., 5 != 3 results in True).

(Greater than)>: Checks if the first value is greater than the second (e.g., 5
 3 results in True).

< (Less than): Checks if the first value is less than the second (e.g., 5 < 3 results in False).

(Greater than or equal to)>=: Checks if the first value is greater than or equal to the second (e.g., 5 >= 3 results in True).

<= (Less than or equal to): Checks if the first value is less than or equal to the second (e.g., 5 <= 3 results in False).

In [3]:
x = 5
y = 3

result1 = (x == y)
print("Equal to:", result1)

result2 = (x != y)
print("Not equal to:", result2)

result3 = (x > y)
print("Greater than:", result3)

result4 = (x < y)
print("Less than:", result4)

result5 = (x >= y)
print("Greater than or equal to:", result5)

result6 = (x <= y)
print("Less than or equal to:", result6)

a=56
b=78

result7 = (a > b)
print("Greater than:", result3)

result8 = (a < b)
print("Less than:", result4)

result9 = (a >= b)
print("Greater than or equal to:", result5)

result10 = (a <= b)
print("Less than or equal to:", result6)

Equal to: False
Not equal to: True
Greater than: True
Less than: False
Greater than or equal to: True
Less than or equal to: False
Greater than: True
Less than: False
Greater than or equal to: True
Less than or equal to: False

# Logical Operators

and: Returns True if both operands are true (e.g., (5 > 3) and (2 < 4) results
in True).

or: Returns True if at least one of the operands is true (e.g., (5 > 3) or (2 > 4) results in True).

not: Returns True if the operand is false (e.g., not (5 > 3) results in False).

In [4]:
a = 5
b = 3
c = 2

result1 = (a > b) and (c < b)
print("AND:", result1)

result2 = (a > b) or (c > b)
print("OR:", result2)

result3 = not (a > b)
print("NOT:", result3)

result4 = (a > b) and (c > b)
print("AND:", result4)

result5 = (a > b) or (c < b)
print("OR:", result5)

result6 = not (c < b)
print("NOT:", result6)

result7 = (a > b) and (c < b) and (b == 3)
print("AND:", result7)

result8 = (a > b) or (c > b) or (b == 3)
print("OR:", result8)

result9 = not (c > b)
print("NOT:", result9)

result10 = not ((a > b) or (c < b))
print("Combining Logical Operators:", result10)

AND: True
OR: True
NOT: False
AND: False
OR: True
NOT: False
AND: True
OR: True
NOT: True
Combining Logical Operators: False

# Identity Operators

is: Returns True if two variables point to the same object (e.g., x is y).

is not: Returns True if two variables point to different objects (e.g., x is not y).

In [1]:
str1 = "hello"
str2 = "world"
str3 = "hello"

print(str1 is str2)
print(str1 is str3)

num1 = 300
num2 = 300
num3 = 10

print(num1 is num2)
print(num1 is not num3)

float1 = 0.1
float2 = 0.1
float3 = 0.2

print(float1 is float2)
print(float1 is not float3)

none1 = None
none2 = None

print(none1 is none2)
print(none1 is not none2)

bool1 = False
bool2 = False
bool3 = True

print(bool1 is bool2)
print(bool1 is not bool3)


float4 = 1.5
float5 = 1.5

print(float4 is float5)
print(float4 is not float5)

small_int1 = 5
small_int2 = 5
small_int3 = 15

print(small_int1 is small_int2)
print(small_int1 is not small_int3)

False
True
False
True
False
True
True
False
True
True
False
True
True
True

# Membership Operators

in: Returns True if a value is found in the sequence (e.g., 'a' in 'apple' results in True).

not in: Returns True if a value is not found in the sequence (e.g., 'b' not in 'apple' results in True).

In [2]:
a = 10
b = 20
c = a

print(a is not b)
print(a is c)

s1 = "hello"
s2 = "world"
s3 = "hello"

print(s1 is not s2)
print(s1 is s3)

x = 100
y = 100
z = 200

print(x is y)
print(x is not z)

f1 = 1.0
f2 = 1.0
f3 = 2.0

print(f1 is not f3)
print(f1 is f2)


num1 = 10
num2 = 10.0

print(num1 is num2)
print(num1 is not num2)

str1 = "example"
str2 = "example"

print(str1 is str2)
print(str1 is not str2)

True
True
True
True
True
True
True
False
False
True
True
False

# Bitwise Operators

& (Bitwise AND): Performs a bitwise AND operation (e.g., 5 & 3 results in 1).

| (Bitwise OR): Performs a bitwise OR operation (e.g., 5 | 3 results in 7).

^ (Bitwise XOR): Performs a bitwise XOR operation (e.g., 5 ^ 3 results in 6).

~ (Bitwise NOT): Inverts the bits (e.g., ~5 results in -6).

<< (Left shift): Shifts bits to the left (e.g., 5 << 1 results in 10).

(Right shift)>>: Shifts bits to the right (e.g., 5 >> 1 results in 2).

In [17]:
a = 15
b = 4
result1 = a & b
print("AND:",result1)

result2 = a | b
print("OR:",result2)

result3 = a ^ b
print("XOR:",result3)

result4 = ~a
print("NOT:",result4)

result5 = a << 2
print("Left Shift:",result5)

result6 = a >> 2
print("Right Shif:",result6)

result7 = (a & b) | (a ^ b)
print("Combining two Operators:",result7)

result8 = (a | b) & (a ^ b)
print("Combining two Operators:",result8)

result9 = (a | b) ^ (a & b)
print("Combining two Operators:",result9)

result10 = (a | b) & (a & b)
print("Combining two Operators:",result10)

AND: 4
OR: 15
XOR: 11
NOT: -16
Left Shift: 60
Right Shif: 3
Combining two Operators: 15
Combining two Operators: 11
Combining two Operators: 11
Combining two Operators: 4

In [7]:
51 & 18

18

In [8]:
276 & 28

20

In [9]:
403 | 95

479

In [10]:
576 | 7

583

In [11]:
420 ^ 99

455

In [12]:
782 << 0

782

In [13]:
143 << 2

572

In [14]:
878 >> 3

109

In [15]:
973 >> 4

60