# **What is a Variable?**

Python Variable is containers that store values. Python is not “statically typed”. We do not need to declare variables before using them or declare their type. A variable is created the moment we first assign a value to it. A Python variable is a name given to a memory location. It is the basic unit of storage in a program. An Example of a Variable in Python is a representational name that serves as a pointer to an object. Once an object is assigned to a variable, it can be referred to by that name. In layman’s terms, we can say that Variable in Python is containers that store values.

*Since Python is an infer language that is smart enough to determine the type of a variable, we do not need to specify its type in Python.

*Variable names must begin with a letter or an underscore, but they can be a group of both letters and digits.

*The name of the variable should be written in lowercase. Both Rahul and rahul are distinct variable

*Python doesn't tie us to pronounce a variable prior to involving it in the application. It permits us to make a variable at the necessary time.

*In Python, we don't have to explicitly declare variables. The variable is declared automatically whenever a value is added to it.

*The equal (=) operator is utilized to assign worth to a variable.

# **Types of Variable**

**Basic Assignment**

Basic assignment in Python is used to bind a value to a variable. A variable is essentially a name that refers to a value in memory. The assignment operator = is used to assign a value to a variable. This value can be of any data type, such as numbers, strings, lists, etc.

In [1]:
x = 10
y = -3

print(x)
print(y)

10
-3

**Multiple Assignments**

Multiple assignment allows you to assign values to multiple variables simultaneously. This can be done in two main ways:

1.Single Value to Multiple Variables: Assign the same value to several variables.

2.Multiple Values to Multiple Variables: Assign multiple values to multiple variables, where the number of variables matches the number of values.

In [2]:
a = b = c = 10  # All variables a, b, and c are assigned the value 100

print(a)
print(b)
print(c)

10
10
10

In [3]:
x, y, z = 10, 20, 30  # Assigns 10 to x, 20 to y, and 30 to z

print(x)
print(y)
print(z)

10
20
30

# Rules for creating variables

*A Python variable name must start with a letter or the underscore character.

*A Python variable name cannot start with a number.

*A Python variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ).

*Variable in Python names are case-sensitive (name, Name, and NAME are three different variables).

*The reserved words(keywords) in Python cannot be used to name the variable in Python.

In [4]:
var=1
var_1=2
var1=3
_var=4
var_a=5

print(var)
print(var_1)
print(var1)
print(_var)
print(var_a)

1
2
3
4
5

# **20 Valid Variables**

In [5]:
Valid = 20
print(Valid)

20

In [6]:
Valid_1 = 25
print(Valid_1)

25

In [7]:
Valid23 = 45
print(Valid23)

45

In [8]:
_valid2 = 46
print(_valid2)

46

In [9]:
Valid_v = 65
print(Valid_v)

65

In [10]:
Valid_variable = 55
print(Valid_variable)

55

In [11]:
abc = 49
print(abc)

49

In [12]:
userID = 101
print(userID)

101

In [13]:
temperature = 20          # Lowercase
Temperature = 30          # Capitalized first letter
TEMPERATURE = 40          # All uppercase
print(temperature)
print(Temperature)
print(TEMPERATURE)

20
30
40

In [14]:
price_per_unit = 15.99
print(price_per_unit)

15.99

In [15]:
totalAmount = 500
print(totalAmount)

500

In [16]:
user_profile_2024 = 2024
print(user_profile_2024)

2024

In [17]:
MAX_LIMIT = 5000
print(MAX_LIMIT)

5000

In [18]:
totalAmountSpent = 150.75
print(totalAmountSpent)

150.75

In [19]:
_temporary_var = 52
print(_temporary_var)

52

In [20]:
avg_salary = 55000
print(avg_salary)

55000

In [21]:
num_items_sold = 200
print(num_items_sold)

200

In [22]:
task_3_completed = 432
print(task_3_completed)

432

# **20 invalid variables**

In [23]:
@invalid = 54
print(@invalid)

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (<ipython-input-23-9eaae05bf1b8>, line 1)

In [24]:
$invalid = 45
print($invalid)

SyntaxError: invalid syntax (<ipython-input-24-10625190d246>, line 1)

In [25]:
in valid=32
print(in valid)

SyntaxError: invalid syntax (<ipython-input-25-e3b3c901b5af>, line 1)

In [26]:
1invalid = 50
print(1invalid)

SyntaxError: invalid syntax (<ipython-input-26-7b476811d5de>, line 1)

In [27]:
46variable = 100
print(46variable)

SyntaxError: invalid decimal literal (<ipython-input-27-61cc77cb99f1>, line 1)

In [28]:
34_variable = 532
print(34_variable)

SyntaxError: invalid decimal literal (<ipython-input-28-7acf842a4903>, line 1)

In [29]:
user-name = 765
print(user-name)

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (<ipython-input-29-67787f804b6d>, line 1)

In [30]:
total$amount = 100
print(total$amount)

SyntaxError: invalid syntax (<ipython-input-30-14cbe4adfd8a>, line 1)

In [31]:
item@name = 234
print(item@name)

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (<ipython-input-31-fe003522a217>, line 1)

In [32]:
def = 44
print(def)

SyntaxError: invalid syntax (<ipython-input-32-47d3b32fe977>, line 1)

In [33]:
class = 8
print(class)

SyntaxError: invalid syntax (<ipython-input-33-de00a02fc4dd>, line 1)

In [34]:
if = 23
print(if)

SyntaxError: invalid syntax (<ipython-input-34-4191f856ac2d>, line 1)

In [35]:
x+y = 15
print(x+y)

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (<ipython-input-35-fe680c617642>, line 1)

In [36]:
total*amount = 100
print(total*amount)

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (<ipython-input-36-1bed90e475ce>, line 1)

In [37]:
_@variable = 88
print(_@variable)

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (<ipython-input-37-f705c9ee1fec>, line 1)

In [38]:
_%value = 200
print(_%value)

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (<ipython-input-38-460cf470ba71>, line 1)

In [39]:
data#1 = 2
print(data#1)

SyntaxError: incomplete input (<ipython-input-39-7043af50a58f>, line 2)

In [40]:
name$ = 4
print(name$)

SyntaxError: invalid syntax (<ipython-input-40-f7e310efec0f>, line 1)

In [41]:
score* = 8
print(score*)

SyntaxError: invalid syntax (<ipython-input-41-d1184a720780>, line 1)

In [42]:
+value = 88
print(+value)

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (<ipython-input-42-1ae0e96a5bb3>, line 1)

In [43]:
-total = 200
print(-total)

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (<ipython-input-43-83c759890673>, line 1)